<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Store.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>236751B31D30F68A001FAB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236751CA1D30F68A001FAB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236751D51D30F68A001FAB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
